.all {
  margin-top: 5vh;
  margin-left: 5vh;
  font-style: "微软雅黑";
  font-size: 25px;
  .index {
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 4vw;
    margin-top: 2vh;
    button {
      width: 20vw;
      height: 6vh;
      margin-top: 3vh;
      font-style: "微软雅黑";
      font-size: 21px;
      color: rgb(107, 107, 255);
      background-color: rgb(255, 241, 241);
    }
  }
}
